body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
h4 {
  margin: 0;
  padding: 0;
}
.grid_layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  align-items: center;
  overflow: hidden;
  margin: 30px;
  box-shadow: 0 0 20px rgba(145, 202, 255, 0.3);
  padding: 30px;
  border-radius: 5px;
}

.card .card_image {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.card .card_image img {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
}

.product_details .price_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_details p {
  margin: 4px 0;
  color: #ff1616;
  font-weight: 600;
}
.product_details .product_title {
  color: #444444;
  font-weight: 500;
  margin: 10px 0;
}
.product_details .desc {
  font-size: 14px;
  color: #7a7a7a;
  font-weight: 400;
}

.product_details .cart_btn {
  padding: 10px 24px;
  outline: none;
  border: none;
  background-color: rgb(80, 82, 199);
  color: #fff;
  font-size: 15px;
  border-radius: 2px;
  margin-top: 15px;
  cursor: pointer;
}
